*.o
**/*.Po
**/*.o
**/*.lo
**/*.a
exporter
*.json
**/build_unix
node_modules
**/*.tcl
dependencies/db-4.8.30.NC/test*
dependencies/db-4.8.30.NC/java*
dependencies/db-4.8.30.NC/perl*
dependencies/db-4.8.30.NC/tcl*
dependencies/db-4.8.30.NC/php*
dependencies/db-4.8.30.NC/example*
dependencies/db-4.8.30.NC/doc*
dependencies/db-4.8.30.NC/os_*
dependencies/db-4.8.30.NC/csharp*
