*.log
**/*.log
*.o
**/*.Po
**/*.lo
**/*.a
exporter
*.json
!package.json
node_modules
**/*.tcl
build
dependencies/db-4.8.30.NC/test*
dependencies/db-4.8.30.NC/build*
!dependencies/db-4.8.30.NC/build_unix
dependencies/db-4.8.30.NC/java*
dependencies/db-4.8.30.NC/perl*
dependencies/db-4.8.30.NC/tcl*
dependencies/db-4.8.30.NC/php*
dependencies/db-4.8.30.NC/example*
dependencies/db-4.8.30.NC/doc*
dependencies/db-4.8.30.NC/os_*
dependencies/db-4.8.30.NC/csharp*
